services:
  db:
    container_name: postgres
    image: postgres:16
    environment:
      TZ: Europe/Kyiv
      PGTZ: Europe/Kyiv
      POSTGRES_DB: activity
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
  benchmark:
    image: golang:1.25
    working_dir: /app
    volumes:
      - .:/app
    command: go test -bench=. -benchmem ./internal/...
    environment:
      DB_DSN: host=db user=postgres password=postgres dbname=activity_test port=5432 sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  api:
    container_name: backend
    build: .
    environment:
      TZ: Europe/Kyiv
      DB_DSN: host=db user=postgres password=postgres dbname=activity port=5432 sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: